
body{
  overflow-x: hidden;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    
    
}


.image-container {
    width: 80%; /* Ajuste o valor conforme necessário */
    height: 130px; /* Ajuste o valor conforme necessário */
    overflow: hidden;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  

  #opc {
    text-align: right;
    background-color: aqua;
  }

  ul {
    padding-top: 20px; /* Espaçamento superior entre os itens */
    padding-bottom: 20px; /* Espaçamento inferior entre os itens */
  }
  
  li {
    padding: 15px; /* Espaçamento inferior entre os itens da lista */
  }
  

  
  

  /* catalogo*/
  

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  .item {
    width: 300px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    padding: 130px;
   

    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

 