


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    
}


.image-container {
    width: 100%; /* Ajuste o valor conforme necessário */
    height: 200px; /* Ajuste o valor conforme necessário */
    overflow: hidden;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  

  #opc {
    text-align: right;
    background-color: aqua;
  }

  ul {
    padding-top: 20px; /* Espaçamento superior entre os itens */
    padding-bottom: 20px; /* Espaçamento inferior entre os itens */
  }
  
  li {
    padding: 15px; /* Espaçamento inferior entre os itens da lista */
  }
  

  .div1 {
    float: left;
    width: 50%;
  }
  
  .div2 {
    float: right;
    width: 50%;
  }
  
  
  