


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    
    
}


.image-container {
    width: 80%; /* Ajuste o valor conforme necessário */
    height: 130px; /* Ajuste o valor conforme necessário */
    overflow: hidden;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  

  #opc {
    text-align: right;
    background-color: aqua;
  }

  ul {
    padding-top: 20px; /* Espaçamento superior entre os itens */
    padding-bottom: 20px; /* Espaçamento inferior entre os itens */
  }
  
  li {
    padding: 15px; /* Espaçamento inferior entre os itens da lista */
  }
  

  .div1 {
    float: left;
    width: 50%;
  }
  
  .div2 {
    float: right;
    width: 50%;
  }
  
  

  /* catalogo*/
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    padding: 20px 0;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .item {
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .item img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 5px;
  }

  .item h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
  }

  .item p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    color: #888;
  }

  .item button {
    display: block;
    margin: 0 auto;
    padding: 7px 20px;
    font-size: 14px;
    background-color: #f90;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .item button:hover {
    background-color: #e7801e;
  }
  